/* === Base === */
body {
    background-color: rgb(248, 248, 239);
}
h1 {
    color: #f5c16c;
    font-size: 40px;
}
h2 {
    color: #d94a38;
}
/* === Navigation === */
nav a {
    color: #d94a38;
    font-size: large;
    text-decoration: none;
}
nav a:hover {
    color: black;
    text-decoration: underline;
}
#nav-text{
    color: rgb(147, 28, 28);
}
/* === Sections === */
main {
    padding-bottom: 60px;
}
.about-text {
    background-color: #f5c16c;
    padding: 40px;
    font-size: 20px;
    border-radius: 10px;
}
.about-text::selection{
    background-color: black;
    color:#d94a38;
}
.background-orange {
    background-color: #d94a38;
    padding-top: 10px;
}
.white-param {
    color: white;
    padding-bottom:30px;
}
.container img {
    max-width: 100%;
    height: auto;
    display:block;
}
/* === Footer === */
.main-footer {
    color: white;
    background-color: #d94a38;
    padding: 30px;
}

/* ====grid=== */
.container{

    border: solid #f5c16c 1px;
    width: 100%;
    display: grid;
    grid-template-columns: 1.5fr 2fr;
    gap: 20px;
    align-items: center;
}