
h1 {
    height: 240px;
    padding: 4rem 1rem;
    font-family: "Danfo";
    font-size: 80px;
    text-align: center;
}



/* marquee animation*/
.marquee-container {
    width: 100%;
    overflow: hidden;
    color: #FFFBF7;
    background: linear-gradient(135deg, #FF9A8B 0%, #DF8ED1 50%, #FF8E53 100%);
    padding: 10px 0;
}

.marquee-text {
    font-family: "Cherry Bomb One";
    display: inline-block;
    white-space: nowrap;
    animation: marquee 20s linear infinite;
    font-size: 40px;
    padding: 16px 32px;
    color: #E50914;
    
    
}

@keyframes marquee {
    0%   { transform: translateX(100vw); }
    100% { transform: translateX(-100%); }
}


/* Contenedor principal */
.testimonial-card {
    
    max-width: 600px;
    background: whitesmoke;
    padding: 25px;
    border-radius: 15px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
    margin: 20px auto;

}

/* Título del grupo */
.testimonial-group {
    font-family: "Cherry Bomb One", cursive;
    color:#E50914;
    font-size: 1.8rem;
    margin-top: 0;
    text-align: center;
}

/* Contenedor autor + foto */
.testimonial-author {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: 20px;
}

/* Foto redonda */
.author-photo {
    width: 240px;
    height: 240px;
    border-radius: 50%;
    object-fit: cover;
    border: 15px solid #E50914;
}

/* Nombre del autor */
.author-name {
    margin: 0;
    font-size: 1.3rem;
    color: #333;
}

/* Relación */
.author-relation {
    margin: 5px 0 0;
    color: #777;
    font-style: italic;
}

/* Texto del testimonio */
blockquote {
    font-size: 1rem;
    line-height: 1.6;
    color: #555;
    margin: 0;
    padding: 0;
    font-style: normal;
}

/* Saltos de línea entre párrafos */
blockquote br {
    display: block;
    content: "";
    margin-bottom: 15px;
}



.internal-conteiner {
    background: url('../assets/images/bg/index-bg-checkered.png');
    max-width: 80%;
    padding: 16px 32px;
    margin: 20px auto;
}


body {
    background-color: whitesmoke;
}



