@import url('https://fonts.googleapis.com/css2?family=Cherry+Bomb+One&family=Danfo&family=Montserrat&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Share+Tech&display=swap");

body {
    font-family: 'Montserrat', sans-serif;
    background: url('../assets/img/bg/index-bg-checkered.png');
    background-size: 150px;
    background-repeat: repeat;
}

.main-title {
  font-family: "Danfo", sans-serif;
  font-size: 80px;
  text-align: center;
  margin-top: 2rem;
}

main {
  max-width: 80%;
  margin: 2rem auto;
  background-color: white;
  border-radius: 20px;
  padding: 2rem 3rem;
}

article {
  background-color: #EAD3CA;  
  padding: 1.5rem 2rem;
  border-radius: 15px;
  margin-bottom: 2rem;
}

article h2 {
  font-family: 'Luckiest Guy', cursive;
  font-size: 2rem;
  color: #F06115;
  margin-top: 0;
}

article p {
  font-family: 'Share Tech', sans-serif;
  font-size: 1.4rem;
  color: black;
  line-height: 1.6;
}

footer {
  background-color: white;
}

header {
  background-color: white;
}

html, body {
  background-color: white;
}