.lato-regular {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.lato-thin {
  font-family: "Lato", sans-serif;
  font-weight: 100;
  font-style: normal;
}

body {
    font-family: "Lato", sans-serif;
    font-weight: 300;  
    margin: 0;
    padding: 0;
    text-align: center;
    color: rgb(47, 47, 47);
}

h1, h2, h3, h4, h5, h6,
footer {
    font-weight: 400; 
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    padding: 10px;
    margin: 0;
}

footer {
    padding: 0;
}


nav {
    font-size: 20px;
}

nav ul{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

nav a, section ul a {
    color: black;
    text-decoration: none;
    padding: 5px;
}

nav a:hover, section ul a:hover {
    color: rgb(100, 131, 138);
    cursor: pointer;
}

ul {
    list-style-type: none;
    padding-left: 0;
}

img{
    width: 600px;
}

#cities-list{
    list-style-type: "🍕";
    padding-left: 340px;
    padding-right: 340px;
}